<% digital_data(global: {pageSection: 'confirm'}) %>
<div id="main_content" data-section="" data-page="">
	<div class="container">
		<div class="white-wrap">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<h1><%= t('devise.confirmations.show.confirmation_almost_done') %></h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
          <p><%= t('devise.confirmations.show.create_password_instructions') %></p>
					<%= devise_error_messages! %>
					<%= simple_form_for(resource, :as => resource_name, :url => confirm_path) do |form| %>
					<div class="form-inputs">
						<%= form.input :password, hint: t('devise.passwords.edit.new_password_hint'), :input_html => {:autofocus => true}, label: t('devise.shared.password') %>
						<%= form.input :password_confirmation, label: t('devise.shared.password_confirmation') %>
						<%= form.hidden_field :confirmation_token,:value => @original_token  %>
					</div>

					<div class="form-actions">
						<%= form.button :button, class: 'btn btn-primary' do %>
                <%= t('devise.confirmations.show.create_password') %>
						<% end %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
