<% digital_data(global: {pageSection: 'profile'}) %>
<div id="main_content" data-section="" data-page="">
	<div class="container">
		<div class="white-wrap">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<h1><%= t('devise.user_profile.edit.edit_user') %></h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<% if !resource.is_database_provider %>
						<% # the values are from an external provider, so can't change anything %>
							<div class="alert alert-info">
								<% provider_name = OmniAuth::Utils.camelize(resource.provider) %>
								<% provider_name = SamlIdentityProvider.where(token: resource.provider).first.try(:name) || provider_name %>
								<%= t('devise.user_profile.edit.values_managed_through_provider', provider: provider_name) %>
							</div>
							<div class="form-inputs">
								<div class="form-group">
									<%= label_tag 'email', t('devise.shared.email'), class: 'control-label' %>
									<%= text_field_tag 'email', resource.email, class: 'string form-control', disabled: true %>
								</div>
								<div class="form-group">
									<%= label_tag 'first_name', t('devise.shared.first_name'), class: 'control-label' %>
									<%= text_field_tag 'first_name', resource.first_name, class: 'string form-control', disabled: true %>
								</div>
								<div class="form-group">
									<%= label_tag 'last_name', t('devise.shared.last_name'), class: 'control-label' %>
									<%= text_field_tag 'last_name', resource.last_name, class: 'string form-control', disabled: true %>
								</div>
							</div>
							<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
								<div class="form-actions">
									<%= f.button :button, class: 'btn btn-primary' do %>
											<%= t('devise.user_profile.edit.return') %>
									<% end %>
								</div>
							<% end %>
					<% else %>
						<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
							<%= f.error_notification %>

							<div class="form-inputs">
							<%= f.input :email, required: true, hint: t('devise.user_profile.edit.must_be_unique'), autofocus: true, label: t('devise.shared.email') %>

							<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
								<p><%= t('devise.user_profile.edit.waiting_confirmation') %> <%= resource.unconfirmed_email %></p>
							<% end %>

							<%= f.input :first_name, autocomplete: "off", required: false, label: t('devise.shared.first_name') %>
							<%= f.input :last_name, autocomplete: "off", required: false, label: t('devise.shared.last_name') %>

							<%= f.input :password, autocomplete: "off", hint: t('devise.user_profile.edit.can_leave_blank_html'), required: false, label: t('devise.shared.password') %>
							<%= f.input :password_confirmation, required: false, label: t('devise.shared.password_confirmation') %>
							<%= f.input :current_password, hint: t('devise.user_profile.edit.need_current_password'), required: true, label: t('devise.shared.current_password') %>
							</div>

							<div class="form-actions">
								<%= f.button :button, class: 'btn btn-primary' do %>
								  <%= t('devise.user_profile.edit.update') %>
								<% end %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
