<% digital_data(global: {pageSection: 'internal'}) %>
<%= content_for :page_js do %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css">
<% end %>
<style>
  legend {
    font-size: 13px;
    color: #737373;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
  }
  @media (min-width: 768px) {
    /* line 315, /Users/myersj1/Projects/ums/app/assets/stylesheets/bootstrap-generators.scss */
    legend {
      font-size: 16px;
    }
  }
</style>
<div id="main_content" data-section="" data-page="">
  <div class="container">
    <div class="white-wrap">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <h1>Internal User Management<%#= t('impersonate.impersonate_user') %></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="result_div" class="hidden alert">
            <span id="result_message"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <%= simple_form_for(:internal_user, url: users_internal_path, html: { method: :post }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :employee_id, as: :select, hint: 'Search on ID, email, or name', label: 'Employee', autofocus: true, collection: [] %>
              <%= f.input :first_name, label: 'First Name', readonly: true, required: false %>
              <%= f.input :last_name, label: 'Last Name', readonly: true, required: false %>
              <%= f.input :email_address, label: 'Email', readonly: true, required: false %>
              <%= f.hidden_field :hidden_id %>
            </div>

            <% @permissions.group('oauth_applications.name').pluck('oauth_applications.name').each do |group| %>
              <% permissions = @permissions.where(oauth_applications: {name: group}).order(code: :asc) %>
              <fieldset>
                <legend><%= permissions.first.oauth_application.proper_name %></legend>
                <% permissions.each do |p| %>
                  <div class="form-inline">
                    <%= f.input :"pt_#{p.id}", disabled: true, label: p.proper_name, :as => :boolean, input_html: { data: { pt: p.id, application: p.oauth_application.name, code: p.code } } %>
                    <% if p.is_value_required %>
                    <%= text_field_tag :"internal_user[value_#{p.id}]", '', disabled: true, data: { pt: p.id } %>
                    <% end %>
                  </div>
                <% end %>
              </fieldset>
            <% end %>

            <div class="form-actions">
              <%= f.button :button, class: 'btn-primary disabled js-create-update' do %>
                <%#= t('impersonate.impersonate') %>
                Save
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>
