<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "new_user cp-sign-in__form" }) do |f| %>

  <div class="form-inputs">
    <%= f.input :login, required: false, label: t('devise.sessions.new.username_or_email'), autofocus: true, input_html: { class: "disabled-looks-enabled" } %>
    <div data-okta-no-show>
      <%= f.input :password, required: false, label: t('devise.shared.password'), input_html: { class: "disabled-looks-enabled", data: { hj_masked: '' } } %>
      <%= f.input :remember_me, label: t('devise.sessions.new.remember_me'), as: :boolean if devise_mapping.rememberable? %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :button, class: 'btn btn-primary' do %>
      <%= t('devise.sessions.new.login') %>
    <% end %>
  </div>
<% end %>


<!-- Listen for users to enter their e-mail addresses. See app/assets/javascripts/sign_in_option.js -->
<script>
  SignInForm.init({
    formSelector:       "#new_user",
    inputSelector:      "#user_login",
    oktaShowSelector:   "[data-okta-show]",
    oktaNoShowSelector: "[data-okta-no-show]"
  });
</script>
