<% digital_data(global: {pageSection: 'unlock'}) %>
<div id="main_content" data-section="" data-page="">
	<div class="container">
		<div class="white-wrap">
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<h1><%= t('devise.unlocks.new.resend_unlock_instructions') %></h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
					  <%= f.error_notification %>
              <span class="has-error"><%= f.full_error :unlock_token %></span>

					  <div class="form-inputs">
						<%= f.input :email, required: true, autofocus: true, label: t('devise.shared.email') %>
					  </div>

					  <div class="form-actions">
						  <%= f.button :button, class: 'btn btn-primary' do %>
                  <%= t('devise.unlocks.new.resend_unlock_instructions') %>
						  <% end %>
					  </div>
					<% end %>
				</div>
			</div>
			<div class="row mtl">
				<div class="col-sm-12">
					<%= render "devise/shared/links" %>
				</div>
			</div>
		</div>
	</div>
</div>