<% digital_data(global: {pageSection: 'internal'}) %>
<%= content_for :page_js do %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css">
<% end %>
<div id="main_content" data-section="" data-page="">
  <div class="container">
    <div class="white-wrap">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header">
            <h1><%= t('impersonate.impersonate_user') %></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <%= simple_form_for(:impersonation, url: users_impersonate_start_path, html: { method: :post }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :member_id, as: :select, hint: t('impersonate.member_id_hint'), label: t('impersonate.member_id'), required: true, autofocus: true, collection: [] %>
                <%= f.input :user, label: t('impersonate.user'), required: true, collection: [], include_blank: false, as: :select %>
              </div>

              <div class="form-actions">
                <%= f.button :button, class: 'btn-primary disabled impersonate' do %>
                    <%= t('impersonate.impersonate') %>
                <% end %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
