<header class="oc-navbar">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-md-6">
				<div class="nowrap">
					<% if @current_company.blank? %>
					<%= link_to "", "/", :class => "navbar-brand" %>
					<% else %>
					<a class ="navbar-brand"></a>
					<% end %>

					<div class="navbar-brand-logotype"></div>
          <h1 class="application-name"><%= @referer_application %></h1>
				</div>
			</div>
			<div class="col-sm-5 col-md-6 text-right xs-text-left">
				<p class="mbn mtl xs-mtm">
				<% if user_signed_in? %>
							<% if current_user.admin %>
								<%= link_to rails_admin_path do %>
									<i class="icon-dashbaord2"></i> <%= t('rails_admin.admin') %>
								<% end %>
								|
							<% end %>
              <% if current_user.admin || current_user.has_permission?('UMS', 'USERS_MANAGE') %>
                <%= link_to users_internal_path do %>
                  <i class="fa fa-users"></i> Internal Users<%#= t('rails_admin.admin') %>
                <% end %>
                |
              <% end %>
                      <%= link_to edit_user_registration_path do %>
                          <i class="icon-user"></i> <%= t('devise.shared.profile') %>
                      <%end%>
                      |
					<%= link_to destroy_user_session_path do %>
                  <%= t('devise.shared.logout') %>
					<% end %>

				<% else %>
				<%= link_to new_user_session_path do %>
					<i class="icon-user"></i> <%= t('devise.shared.log_in') %>
					<% end %>
				<% end %>
				</p>
			</div>
		</div>
	</div>
</header>
